/.bundle
/.env
/.env.*
!/.env.example

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
/public/packs
/public/packs-test

/node_modules
/yarn-error.log
yarn-debug.log*
npm-debug.log*

/config/master.key
/.kamal/secrets

/.DS_Store
/.idea
/.vscode
*.swp
*.swo

.kamal
.github

